{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card mt-5">
            <div class="card-header">
                <strong>Ajouter </strong> un Établissements
            </div>
            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Nom établissement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{form.name}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="email-input" class=" form-control-label">Email établissement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{form.email}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="password-input" class=" form-control-label">Adresse de l'établissement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{form.address}}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="disabled-input" class=" form-control-label">Numéro de téléphone de l'établissement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{form.tel}}
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fa fa-save"></i> Submit
                        </button>
                        <a href='{% url "administration:schools" %}' class="ml-3 btn btn-danger btn-lg">
                            <i class="fa fa-ban"></i> Reset
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}