{% extends '../base.html' %}
{% load static %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert text-white bg-{{ message.tags }} d-flex align-items-center justify-content-between" {% endif %} role="alert">
            <div class="alert-text">{{ message }}</div>
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><i class="ti-close text-white f_s_14"></i></button>
        </div>
    {% endfor %}
{% endif %}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Établissements</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--sm"></div>
                    </div>
                    <div class="table-data__tool-right">
                        <a href='{% url "administration:add_school" %}' class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>Ajouter</a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Date d'enregistrement</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for school in schools %}
                                <tr class="tr-shadow">
                                    <td> {{school.name}} </td>
                                    <td>
                                        <span class="block-email">{{school.email}}</span>
                                    </td>
                                    <td class="desc">{{school.address}}</td>
                                    <td>{{school.tel}}</td>
                                    <td>
                                        <span class="status--process">3 janvier</span>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                <i class="zmdi zmdi-eye"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

<script>

    $(document).ready(function(){
        $('#searchInput').keyup(function(){
            var searchText = $(this).val().toLowerCase();
            $('#dataTable tbody tr').each(function(){
                var currentRowText = $(this).text().toLowerCase();
                if(currentRowText.indexOf(searchText) !== -1){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });

    // Supprimer un élément
    function deleteSchool(item_id) {
        var csrftoken = getCookie('csrftoken'); // Récupérer le jeton CSRF
        $.ajax({
            url: `${item_id}/delete/`,
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken); // Ajouter le jeton CSRF à l'en-tête de la requête
            },
            success: function(response) {
                $('#elementList').find(`tr[data-id="${item_id}"]`).remove();
                alert('Élément supprimé avec succès');
            },
            error: function(error) {
                console.error('Erreur lors de la suppression de l\'élément', error);
            }
        });
    }
    
    // Fonction pour récupérer le jeton CSRF depuis le cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>

{% endblock content %}