{% extends '../base.html' %}
{% load static %}
{% block content %}
<!-- =============== MAIN PAGE =============================-->
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Réglages générales</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form class="cmxform" id="signupForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <h5 class="text-primary mt-2">Informations générales</h5><hr>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Nom de l'établissement</label>
                                    {{form.name}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Numéro de téléphoe</label>
                                    {{form.tel}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Adresse de l'établissement</label>
                                    {{form.address}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Adresse du siège social</label>
                                    {{form.social_address}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Adresse email</label>
                                    {{form.email}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Pied de page bulletin</label>
                                    {{form.bulletin_foot}}
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Device</label>
                                    {{form.currency}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Système scolaire</label>
                                    {{form.système}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Durée académique (nombre de mois)</label>
                                    {{form.month}}
                                </div>
                            </div>
                            <h5 class="text-primary mt-4">Frais d'admission</h5><hr>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Frais d'admission</label>
                                    {{form.status_fees}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Frais d'inscription</label>
                                    {{form.subscription_fees}}
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="level">Frais de réinscription</label>
                                    {{form.re_registration_fees}}
                                </div>
                            </div>
                        <input class="btn btn-dark" type="submit" value="Enregister">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    