{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="template-demo">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item">
                  <a href='{% url "manager_dashboard:index" %}'>Tableau de board</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span>Salle de Classes</span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex justify-content-between align-items-start">
        <div>
          <h4 class="card-title card-title-dash">Salle de classe</h4>
        </div>
        <div>
          {% if not user.is_admin_school %}
            <a
              href='{% url "manager_dashboard:add_classroom" %}'
              class="btn btn-primary text-white mb-0 me-0"
              ><i class=" mdi mdi-plus-box "></i> Ajouter une salle de classe</a
            >
          {% endif %}
          
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="table-responsive">
            <table id="order-listing" class="table">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Niveau</th>
                        <th scope="col">Cycle</th>
                        <th scope="col">Fréquence de fréquentation</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="elementList">
                    {% for classroom in classrooms %}
                        <tr data-id="{{classroom.id}}">
                        <td>{{ classroom.title }}</td>
                        <td>{{ classroom.level }}</td>
                        <td>{{ classroom.types }} </td>
                        <td>{{ classroom.do_class }} </td>
                        <td>
                          {% if not user.is_admin_school %}
                            <a href="{% url 'manager_dashboard:edit_classroom' classroom.id %}" class="p-2">
                                <i class="fa fa-edit h4 text-dark"></i></a>
                            <a href="#" onclick="delete_function({{classroom.id}})">
                                <i class="fa fa-trash-o h4 text-danger"></i></a>
                          {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
