{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:sanction_appreciations" %}'>Sanctions & Appréciations</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Modifier</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modifier une sanction</h4>
                <form class="cmxform" id="signupForm" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="level">Etudiant</label>
                                <select name='student'  class="js-example-basic-single w-100">
                                    {% for student in students %}
                                        {% if sanction.student.id == student.id %}
                                            <option value="{{student.id}}" selected>{{student.fullname}}</option>
                                        {% else %}
                                            <option value="{{student.id}}">{{student.fullname}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="level">Salle de classe</label>
                                <select name='classroom'  class="js-example-basic-single w-100">
                                    {% for classroom in classrooms %}
                                        {% if sanction.classroom.id == classroom.id %}
                                            <option value="{{classroom.id}}">{{classroom.title}}</option>
                                        {% else %}
                                            <option value="{{classroom.id}}">{{classroom.title}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label" for="level">Type de sanction / Appréciation</label>
                               <select name='type'  class="js-example-basic-single w-100">
                                    {% for type in types %}
                                    {% if sanction.types.id == type.id %}
                                        <option value="{{type.id}}" selected>{{type.title}}</option>
                                    {% else %}
                                        <option value="{{type.id}}">{{type.title}}</option>
                                    {% endif %}
                                        
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="level">Matière</label>
                                <select name='subject'  class="js-example-basic-single w-100">
                                    {% for subject in subjects %}
                                        {% if sanction.subject.id == subject.id %}
                                            <option value="{{subject.id}}" selected>{{subject.label}}</option>
                                        {% else %}
                                            <option value="{{subject.id}}">{{subject.label}}</option>
                                        {% endif %}
                                        
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="libelle">Commentaire</label>
                            {{ form.comment }}
                        </div>
                        <a href='{% url "manager_dashboard:sanction_appreciations" %}' class="btn btn-danger">Retour</a>
                        <input class="btn btn-dark" type="submit" value="Modifier">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}