{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Tableau de board</a></li>
              <li class="breadcrumb-item"><a href='{% url "manager_dashboard:parents" %}'>Parents</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <span>{{parent.lastname_one|upper}} {{parent.firstname_one}} </span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    {% if parent.file_exist_one %}
                        <img src="{{ parent.picture_one.url }}" alt class="mx-auto d-block" height="300" />
                    {% else %}
                    <img src="{% static 'img/staf/teacher.png' %}" alt class="mx-auto d-block" height="300" />
                    {% endif %}
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="single-pro-detail">
                        <div class="custom-border mb-3"></div>
                        <h3 class="text-primary"> {{ parent.firstname_one}} {{ parent.lastname_one | upper}} </h3><br>
                        <h6 class="text-muted font_s_13 mt-2 mb-1">Email :  {{ parent.email_one}} </h6>
                        <h6 class="text-muted font_s_13 mt-2 mb-1">Téléphone : +242 {{ parent.tel_one }} </h6>
                        {% if not user.is_admin %}
                        <div class="quantity mt-3">
                            <a href='{% url "manager_dashboard:edit_parent" parent.id %}' class="btn btn-dark text-white px-4 d-inline-block "><i class="fa fa-edit me-2"></i>Modifier</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
                <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab-custom" data-bs-toggle="pill"
                    href="#pills-health" role="tab" aria-controls="pills-home" aria-selected="true">
                    Information Personnelle
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab-custom" data-bs-toggle="pill" href="#pills-career"
                    role="tab" aria-controls="pills-profile" aria-selected="false">
                    Documents
                </a>
                </li>
            </ul>
            <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">
                <div class="tab-pane fade show active" id="pills-health" role="tabpanel" aria-labelledby="pills-home-tab-custom">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-center">Responsable 1</h4><hr>
                            <h6>Nom : {{parent.lastname_one}} </h6><br>
                            <h6>Prénom : {{parent.firstname_one}} </h6><br>
                            <h6>Adresse de résidence : {{parent.address_one}} </h6><br>
                            <h6>Numéro de téléphone : {{parent.tel_one}} </h6><br>
                            <h6>Adresse email : {{parent.email_one}} </h6><br>
                            <!--<h6>Genre : </h6><br>
                            <h6>Ville : </h6><br>
                            <h6>Pays : </h6><br>
                            <h6>Profession : </h6><br>-->
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center">Responsable 2</h4><hr>
                            <h6>Nom : {{parent.lastname_seconde}} </h6><br>
                            <h6>Prénom : {{parent.firstname_seconde}} </h6><br>
                            <h6>Adresse de résidence : {{parent.address_seconde}} </h6><br>
                            <h6>Numéro de téléphone : {{parent.tel_seconde}} </h6><br>
                            <h6>Adresse email : {{parent.email_seconde}} </h6><br>
                            <!--<h6>Genre : </h6><br>
                            <h6>Ville : </h6><br>
                            <h6>Pays : </h6><br>
                            <h6>Profession : </h6><br> -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-career" role="tabpanel" aria-labelledby="pills-profile-tab-custom">
                    <div class="row">
                        <div class="col-md-12">
                            {% if not user.is_admin %}
                            <div class="page_title_right">
                                <div class="page_date_button d-flex align-items-rigth">
                                    <a href="#" class="btn mb-3 btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong"> <i class="fas fa-plus-square"></i> Ajouter un document</a>
                                </div>
                            </div>
                            {% endif %}
                            <div class="table-responsive mt-3">
                                <table id="order-listing" class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Titre</th>
                                            <th scope="col">Type du document</th>
                                            <th scope="col">Fichier</th>
                                            <th scope="col">Date</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody id='elementList'>
                                        {% for document in documents %}
                                            <tr data-id='{{document.id}}'>
                                                <td><h6> {{document.title}} </h6></td>
                                                <td><h6>{{document.document_type.title}}</h6></td>
                                                <td><h6><a href="{{document.file.url}}" target='blank'>{{document.file.name|slice:30}}...</a></h6></td>
                                                <td><h6> {{document.created_at}} </h6></td>
                                                <td>
                                                    <a href='{{document.file.url}}' target='blank' class="p-2">
                                                        <i class="fa fa-eye h4 text-dark"></i></a>
                                                    <a href="#" onclick="deleteDocument({{document.id}})" id="delete-document" data-url="{% url 'manager_dashboard:parent_delete_document' document.id %}">
                                                        <i class="fa fa-trash-o h4 text-danger"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un document</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="level">Titre du document</label>
                        {{form.title}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="level">Type de document</label>
                        {{form.document_type}}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="libelle">Fichier</label>
                        {{form.file}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="ti-close"></i> Annuler</button>
                    <button type="submit" class="btn btn-primary"><i class="ti-save"></i> Ajouter</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    // Supprimer un élément
    function deleteDocument(id) {
        var csrftoken = getCookie('csrftoken'); // Récupérer le jeton CSRF
        var url = document.getElementById('delete-document').dataset.url
        $.ajax({
            url: url,
            type: 'DELETE',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken); // Ajouter le jeton CSRF à l'en-tête de la requête
            },
            success: function(response) {
                $('#elementList').find(`tr[data-id="${id}"]`).remove();
                console.log('Élément supprimé avec succès');
            },
            error: function(error) {
                console.error('Erreur lors de la suppression de l\'élément', error);
            }
        });
    }
    
    // Fonction pour récupérer le jeton CSRF depuis le cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>
{% endblock content %}