{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="template-demo">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item">
                  <a href='{% url "manager_dashboard:index" %}'>Tableau de board</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span>Parents</span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex justify-content-between align-items-start">
        <div>
          <h4 class="card-title card-title-dash">Parents</h4>
        </div>
        <div>
          {% if not user.is_admin_school %}
            <a
              href='{% url "manager_dashboard:add_parent" %}'
              class="btn btn-primary text-white mb-0 me-0"
              ><i class=" mdi mdi-account-plus "></i> Ajouter un Parent</a
            >
          {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <div class="table-responsive">
            <table id="order-listing" class="table">
                <thead>
                    <tr>
                        <th class="border-top-0">Photo</th>
                        <th class="border-top-0">Nom</th>
                        <th class="border-top-0">Prénom</th>
                        <th class="border-top-0">Email</th>
                        <th class="border-top-0">Téléphone</th>
                        <th class="border-top-0">Accès en ligne</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="elementList">
                    {% for parent in parents %}
                        <tr data-id="{{parent.id}}">
                            <td>
                                {% if parent.file_exist_one %}
                                    <img src="{{ parent.picture_one.url }}" alt height="52" alt="">
                                {% else %}
                                <img src="{% static 'img/staf/teacher.png' %}" alt height="52">
                                {% endif %}
                                    
                            </td>
                            <td>{{ parent.lastname_one|upper }}</td>
                            <td>{{ parent.firstname_one }}</td>
                            <td>{{ parent.email_one }}</td>
                            <td>{{ parent.tel_one }}</td>
                            <td><p class="badge badge-success">Oui</p></td>
                            <td>
                                <a href='{% url "manager_dashboard:parent_detail" parent.id %}' class="p-2">
                                    <i class="fa fa-eye h4 text-primary"></i></a>
                                {% if not user.is_admin_school %}
                                  <a href='{% url "manager_dashboard:edit_parent" parent.id %}' class="p-2">
                                      <i class="fa fa-edit h4 text-dark"></i></a>
                                  <a href="#" onclick="delete_function({{parent.id}})">
                                      <i class="fa fa-trash-o h4 text-danger"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
