{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="template-demo">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item">
                  <a href='{% url "manager_dashboard:index" %}'>Tableau de board</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span>Trombinoscope</span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
</div>
{% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %} {% endif %}


<div class="card">
    <div class="card-body">
      <h4 class="card-title">Trombinoscope</h4>
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-pills-custom" id="pills-tab-custom" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab-custom" data-bs-toggle="pill"
                  href="#pills-health" role="tab" aria-controls="pills-home" aria-selected="true">
                  Trombinoscope parents
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab-custom" data-bs-toggle="pill" href="#pills-career"
                  role="tab" aria-controls="pills-profile" aria-selected="false">
                  Trombinoscope élèves
                </a>
              </li>
            </ul>
            <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">
              <div class="tab-pane fade show active" id="pills-health" role="tabpanel" aria-labelledby="pills-home-tab-custom">
                  <div class='row'>
                      {% for parent in parents %}
                          <div class='col-md-3'>
                              <div class="text-center align-items-center">
                                  <a href='{% url "manager_dashboard:parent_detail" parent.id %}'>
                                      <img src="{{parent.picture_one.url}}" class="img-lg rounded" alt="{{parent.picture_one.name}}" />
                                  </a>
                                  <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                      <h4 class="mb-0 mt-3">
                                          <a href='{% url "manager_dashboard:parent_detail" parent.id %}' class='text-info'>
                                              {{parent.lastname_one|upper}} {{parent.firstname_one|upper}}
                                          </a>
                                      </h4>
                                      <p class="text-muted mb-1">{{parent.email_one}} </p>
                                      <p class="mb-0 text-success fw-bold">{{parent.tel_one}}</p>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <div class="tab-pane fade" id="pills-career" role="tabpanel" aria-labelledby="pills-profile-tab-custom">
                  <div class='row'>
                      {% for student in students %}
                          <div class='col-md-3'>
                              <div class="text-center align-items-center">
                                  <a href='{% url "manager_dashboard:student_detail" student.student.id %}'>
                                    <img src="{{student.student.picture.url}}" class="img-lg rounded" alt="{{student.student.picture.name}}" />
                                  </a>
                                  <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                      <h4 class="mb-0 mt-3">
                                          <a href='{% url "manager_dashboard:student_detail" student.student.id %}' class='text-info'>
                                              {{student.student.fullname}}
                                          </a>
                                      </h4>
                                      <p class="text-muted mb-1">{{student.student.bithday}} </p>
                                      <p class="mb-0 text-success fw-bold">{{student.student.tel}}</p>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}
