<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- endinject -->

    <!-- Plugin css for all page -->
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/jquery-toast-plugin/jquery.toast.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'manager_dashboard/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    
    <!-- End plugin css for all page -->
    
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'manager_dashboard/css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'manager_dashboard/images/favicon.png' %}" />
</head>

<body class="sidebar-fixed">
    <div class="container-scroller">
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href='{% url "manager_dashboard:index" %}'><img src="{% static 'manager_dashboard/images/logo.svg' %}" alt="logo" /></a>
                    
                    <a class="navbar-brand brand-logo-mini" href='{% url "manager_dashboard:index" %}'><img src="{% static 'manager_dashboard/images/logo-mini.svg' %}" alt="logo" /></a>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top">
                <ul class="navbar-nav">
                    <li class="nav-item fw-semibold d-none d-lg-block ms-0">
                        <h1 class="welcome-text">Bonjour, <span class="text-black fw-bold"> {{user.username}} </span></h1>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-none d-lg-block">
                        <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                        <span class="input-group-addon input-group-prepend border-right">
                            <span class="icon-calendar input-group-text calendar-icon"></span>
                        </span>
                        <input type="text" class="form-control">
                        </div>
                    </li>
                    <li class="nav-item">
                        <form class="search-form" action="#">
                        <i class="icon-search"></i>
                        <input type="search" class="form-control" placeholder="Search Here" title="Search here">
                        </form>
                    </li>
                    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="{% static 'manager_dashboard/images/faces/face8.jpg' %}" alt="Profile image"> </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="{% static 'manager_dashboard/images/faces/face8.jpg' %}" alt="Profile image">
                            <p class="mb-1 mt-3 fw-semibold"> {{user.username}} </p>
                            <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
                        </div>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> Mon Profil</a>
                        <a href='{% url "manager_dashboard:logout" %}' class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Déconnexion</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>

        <div class="container-fluid page-body-wrapper">
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border me-3"></div>Light
                    </div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
                    </div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>

        <!-- MENU DE SIDE BAR -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href=''>
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Tableau de board</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "manager_dashboard:years" %}'>
                        <i class="mdi mdi-calendar menu-icon"></i>
                        <span class="menu-title">Années Académiques</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='{% url "manager_dashboard:teachers" %}'>
                        <i class="menu-icon  mdi mdi-account "></i>
                        <span class="menu-title">Enseignants</span>
                    </a>
                </li>
                <!-- GESTION ÉLÈVE -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#editors" aria-expanded="false" aria-controls="editors">
                        <i class="menu-icon mdi mdi-account-multiple"></i>
                        <span class="menu-title">Gestions élèves</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="editors">
                        <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:parents" %}'>Parents</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:students" %}'>Élèves</a></li>
                        </ul>
                    </div>
                </li>

                <!-- GESTION ÉCOLE -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ecole" aria-expanded="false" aria-controls="ecole">
                        <i class="menu-icon mdi mdi-bank"></i>
                        <span class="menu-title">Gestion école</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ecole">
                        <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:trombinoscopes" %}'>Trombinoscope</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:series" %}'>Series</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:levels" %}'>Niveaux</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:classrooms" %}'>Salles de classes</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:group_subjects" %}'>Groupes de matière</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:subjects" %}'>Matières</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:programs" %}'>Programmes</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:sanction_appreciations" %}'>Sanctions & Appréciations</a></li>
                        </ul>
                    </div>
                </li>

                <!-- GESTION TEMPS -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#clock" aria-expanded="false" aria-controls="clock">
                        <i class="menu-icon mdi mdi mdi-calendar-clock "></i>
                        <span class="menu-title">Gestion de temps</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="clock">
                        <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:times" %}'>Emplois du temps</a></li>
                        </ul>
                    </div>
                </li>
                <!-- GESTION ÉVALUATION -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#evaluation" aria-expanded="false" aria-controls="evaluation">
                        <i class="menu-icon  mdi mdi-deskphone"></i>
                        <span class="menu-title">Évaluation</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="evaluation">
                        <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:evaluations" %}'>Evaluations</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:table_notes" %}'>Tableau de notes</a></li>
                        </ul>
                    </div>
                </li>

                <!-- GESTION COMMUNICATION-->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#com" aria-expanded="false" aria-controls="com">
                        <i class="menu-icon mdi mdi-email"></i>
                        <span class="menu-title">Communication</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="com">
                        <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:informations" %}'>Informations</a></li>
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:events" %}'>Évenements</a></li>
                        </ul>
                    </div>
                </li>

                <!-- CONTENUE PEDAGOGIQUE-->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#book" aria-expanded="false" aria-controls="book">
                        <i class="menu-icon mdi mdi-library   "></i>
                        <span class="menu-title">Contenue <br> pédagogique</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="book">
                        <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:ebooks" %}'>eBook</a></li>
                        </ul>
                    </div>
                </li>

                <!-- GESTION COMPTE-->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#compte" aria-expanded="false" aria-controls="compte">
                        <i class="menu-icon mdi mdi-account-circle"></i>
                        <span class="menu-title">Gestion compte</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="compte">
                        <ul class="nav flex-column sub-menu">
                        {% if user.is_admin_school %}
                            <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:directors" %}'>Équipe de direction</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:parents_account" %}'>Comptes Parents</a></li>
                            <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:students_account" %}'>Comptes Élèves</a></li>
                        {% endif %}
                        
                        </ul>
                    </div>
                </li>

                <!-- ADMINISTRATION -->
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#setting" aria-expanded="false" aria-controls="setting">
                        <i class="menu-icon  mdi mdi-tune "></i>
                        <span class="menu-title">Administration</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="setting">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:type_documents" %}'>Types de documents</a></li>
                            <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:type_sanctions" %}'>Types de sanctions</a></li>
                            <li class="nav-item"><a class="nav-link" href='{% url "manager_dashboard:reglage_general" %}'>Réglages général</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial footer -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- =============== MAIN PAGE =============================-->
                {% block content %}{% endblock %}
                <!-- =============== END MAIN PAGE =============================-->
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center">
                    <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © {% now "Y" %}. Tout droit réservé.</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
    </div>
    <!-- page-body-wrapper ends -->
  
    <!-- plugins:js -->
    <script src="{% static 'manager_dashboard/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'manager_dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- endinject -->
    
    <!-- Plugin js all this page -->
    <script src="{% static 'manager_dashboard/vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'manager_dashboard/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'manager_dashboard/vendors/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'manager_dashboard/vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
    <script src="{% static 'manager_dashboard/vendors/select2/select2.min.js' %}"></script>
    <!-- End plugin js all this page -->

    <!-- inject:js -->
    <script src="{% static 'manager_dashboard/js/off-canvas.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/template.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/settings.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/todolist.js' %}"></script>
    <!-- endinject -->

    <!-- Custom js for all page-->
    <script src="{% static 'manager_dashboard/js/data-table.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/alerts.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/formpickers.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/typeahead.js' %}"></script>
    <script src="{% static 'manager_dashboard/js/select2.js' %}"></script>
    <!-- End custom js for all page-->


<script>

    function delete_function(id) {
        var csrftoken = getCookie('csrftoken'); // Récupérer le jeton CSRF
    
        swal({
            title: 'Vous êtes sûr?',
            text: "Cette suppression est irreversible!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3f51b5',
            cancelButtonColor: '#ff4081',
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: true,
                    className: "btn btn-danger",
                    closeModal: true,
                },
                confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "btn btn-primary",
                }
            }
        }).then((result) => {
            if (result) {
                // Si l'utilisateur clique sur "OK"
                $.ajax({
                    url: `${id}/delete/`,
                    type: 'DELETE',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('X-CSRFToken', csrftoken); // Ajouter le jeton CSRF à l'en-tête de la requête
                    },
                    success: function(response) {
                        $('#elementList').find(`tr[data-id="${id}"]`).remove();
                        console.log('Élément supprimé avec succès');
                    },
                    error: function(error) {
                        console.error('Erreur lors de la suppression de l\'élément', error);
                    }
                });
            }
        });
    }
    // Fonction pour récupérer le jeton CSRF depuis le cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
</body>

</html>