{% extends './base.html' %}
{% load static %}
{% block content %}


<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="title-4">Welcome back
                    <span>Admin!</span>
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME-->

<!-- STATISTIC-->
<section class="statistic statistic2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--green">
                    <h2 class="number"> {{count_user}} </h2>
                    <span class="desc">Utilisateur</span>
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--orange">
                    <h2 class="number"> {{count_school}} </h2>
                    <span class="desc">Etablissements</span>
                    <div class="icon">
                        <i class="fas fa-university"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--blue">
                    <h2 class="number">{{count_student}}</h2>
                    <span class="desc">Étudiant</span>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="statistic__item statistic__item--red">
                    <h2 class="number">0F CFA</h2>
                    <span class="desc">Recètte Annuelle</span>
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC-->


<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Établissement récement ajouté</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <div class="rs-select2--light rs-select2--sm"></div>
                    </div>
                    <div class="table-data__tool-right">
                        <a href='{% url "administration:add_school" %}' class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="zmdi zmdi-plus"></i>Ajouter</a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Téléphone</th>
                                <th>Date d'enregistrement</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for school in schools %}
                                <tr class="tr-shadow">
                                    <td> {{school.name}} </td>
                                    <td>
                                        <span class="block-email">{{school.email}}</span>
                                    </td>
                                    <td class="desc">{{school.address}}</td>
                                    <td>{{school.tel}}</td>
                                    <td>
                                        <span class="status--process">3 janvier</span>
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                                                <i class="zmdi zmdi-eye"></i>
                                            </button>
                                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

{% endblock content %}