{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:parents_account" %}'>Comptes Parents</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Ajouter</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter un compte parent</h4>
                <form class="cmxform" id="signupForm" method="post" action="#">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label class="form-label">Parent</label>
                            <select name='parent'  class="js-example-basic-single w-100">
                                {% for parent in parents %}
                                    <option value="{{parent.id}}">{{parent.lastname_one|upper}} {{parent.firstname_one}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input id="username" class="form-control" name="username" type="text" maxlength="50" minlength="2" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input id="password" class="form-control" name="password" type="password" maxlength="50" minlength="5" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Confirmer le Mot de passe</label>
                            <input id="confirm_password" class="form-control" name="confirm_password" type="password" maxlength="50" minlength="5" required>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Envoyer">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
