{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card mt-5">
            <div class="card-header">
                <strong>Ajouter </strong> un compte directeur
            </div>
            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Nom du directeur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="lastname" placeholder="Nom" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Prénom du directeur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="firstname" placeholder="Prenom" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Numéro de téléphone du directeur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="tel" id="text-input" name="tel" placeholder="ex:064838870" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Email du directeur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" id="text-input" name="email" placeholder="Email" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Nom d'utilisateur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="text" id="text-input" name="username" placeholder="Nom d'utilisateur" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Mot de passe</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="password" id="text-input" name="password" placeholder="Mot de passe" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="selectSm" class=" form-control-label">Établissement</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <select name="school" id="SelectLm" class="form-control-sm form-control" required>
                                {% for school in schools %}
                                    <option value="{{school.id}}"> {{school.name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="fa fa-save"></i> Ajouter
                        </button>
                        <a href='{% url "administration:user_school" %}' class="ml-3 btn btn-danger btn-lg">
                            <i class="fa fa-ban"></i> Annuler
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}