{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item">
                <a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span>Informations</span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>

<div class="row justify-content-center">

    {% for info in informations %}
        <div class="col-lg-8 mb-5">
            <div class="card">
                <div class="card-title text-center p-3 bg-primary">
                    <h2 class="mb-2 text-white"> {{ info.title}} </h2>
                </div>
                <div class="card-body">
                    <div class="box_body">
                        {% autoescape off %}
                            {{ info.content | safe }}
                            {{ info.media }}
                        {% endautoescape %}
                    </br>
                    {% if info.file_exists %}
                        <p>Cliquez pour télécharger le fichier correspondant <a href="{{info.file.url}}" target='blank' class="text-primary"><strong>ici</strong></a></p>
                    {% endif %}
                    </div>
                </div>
                <div class="card-footer text-left p-2 bg-light">
                    <p class="mb-2 text-dark"><i>Fait le : {{ info.created_at}} </i></p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>Aucune information disponible pour le moment</p>
    {% endfor %}
</div>
{% endblock content %}