{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item">
                <a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span>Demande de Préinscriptions | {{year.label}} </span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>
{% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %} {% endif %}
  
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
            <div>
                <h4 class="card-title card-title-dash">Demande de Préinscriptions | {{year.label}} </h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th class="border-top-0">Photo</th>
                                <th class="border-top-0">Matricule</th>
                                <th class="border-top-0">Nom</th>
                                <th class="border-top-0">Prénom</th>
                                <th class="border-top-0">Date de Naissance</th>
                                <th class="border-top-0">Genre</th>
                                <th class="border-top-0">Classe</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="elementList">
                            {% if student_careers|length >= 1 %}
                                {% for student_career in student_careers %}
                                    <tr>
                                        <td>
                                            {% if student_career.student.file_exists %}
                                                <img src="{{ student_career.student.picture.url }}" alt height="52">
                                            {% else %}
                                                <img src="{% static 'img/staf/student.png' %}" alt height="52">
                                            {% endif %}
                                        </td>
                                        <td><h6> {{student_career.student.registration_number|upper}} </h6></td>
                                        <td><h6> {{student_career.student.lastname}} </h6></td>
                                        <td><h6> {{student_career.student.firstname}} </h6></td>
                                        <td><h6> {{student_career.student.bithday}} </h6></td>
                                        <td><h6> {{student_career.student.sex|capfirst}} </h6></td>
                                        <td><h6> {{student_career.classroom.title}} </h6></td>
                                        <td>
                                            <a href='{% url "accountant_dashboard:pre_registrations_detail" student_career.id %}'>
                                                <i class="fa fa-eye h4 text-primary"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}