{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:events" %}'>Évenements</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>{{event.title}}</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modifier un évenement</h4>
                <form class="cmxform" id="signupForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="libelle">Titre</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="date">Date de début</label>
                            {{ form.start_date }}
                            <i>date actuelle: {{event.start_date}}</i>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="date">Date de fin</label>
                            {{ form.end_date }}
                            <i>date actuelle: {{event.end_date}}</i>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="date">Photo de couverture / Flyer</label>
                            {{ form.photo}}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="date">Pièce jointe</label>
                            {{form.file }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Évenements</label>
                            {{ form.content | safe }}
                            {{form.media}}
                        </div>
                        
                        <div class="form-group">
                            <label for="firstname">Publié ?</label>
                            {{form.status}}
                        </div>
                        <a href='{% url "manager_dashboard:events" %}' class="btn btn-danger">Retour</a>
                        <input class="btn btn-dark" type="submit" value="Modifier">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/ckeditor-classic.js' %}"></script>
<script>
    CKEDITOR.replace('id_content');
</script>
{% endblock content %}
