{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:items" %}'>Catalogue d'articles</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Ajouter</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter un articles</h4>
                <form class="cmxform" id="signupForm" method="post" >
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Nom</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Montant par défaut</label>
                            {{ form.default_amount }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Quantité par defaut</label>
                            {{ form.defaut_quantity }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Code analytique</label>
                            {{ form.analytic_code }}
                        </div>
                        
                        <div class="form-group">
                            <label for="firstname">Est actif ?</label>
                            {{form.is_active}}
                        </div>
                        <a href='{% url "accountant_dashboard:items" %}' class="btn btn-danger">Retour</a>
                        <input class="btn btn-primary" type="submit" value="Enregister">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}