{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:invoices" %}'>Factures</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Ajouter</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter une facture</h4>
                <form class="cmxform" id="signupForm" method="post" >
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Etudiant</label>
                            <select name='student'  class="js-example-basic-single w-100 form-control">
                                {% for student in students %}
                                    <option value="{{student.id}}">{{student.fullname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="level">Salle de classe</label>
                            <select name='classroom'  class="js-example-basic-single w-100">
                                {% for classroom in classrooms %}
                                    <option value="{{classroom.id}}">{{classroom.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="level">Article</label>
                            <select name='item'  class="js-example-basic-single w-100">
                                {% for item in items %}
                                    <option value="{{item.id}}">{{item.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Montant</label>
                            {{form.amount}}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Écolage de </label>
                            {{form.schooling_of}}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Status de la facture</label>
                            {{form.invoice_status}}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Commentaire</label>
                            {{form.comment}}
                        </div>
                        <a href='{% url "accountant_dashboard:repayments" %}' class="btn btn-danger">Retour</a>
                        <input class="btn btn-primary" type="submit" value="Enregister">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}