{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item">
                <a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span>Engagements Financiers</span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>
{% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %} {% endif %}
  
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
            <div>
                <h4 class="card-title card-title-dash">Engagements Financiers</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Matricule</th>
                                <th scope="col">Etudiants</th>
                                <th scope="col">Frais de scolarité</th>
                                <th scope="col">Date d'envois</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="elementList">
                            {% for engagement in engagements %}
                                <tr>
                                    <td><h6>{{engagement.student.registration_number|upper}}</h6></td>
                                    <td><h6><span class="badge rounded-pill bg-info">{{engagement.student.lastname|upper}} {{engagement.student.firstname|capfirst}}</span></h6></td>
                                    <td><h6> {{engagement.school_fees}}</h6> </td>
                                    <td>{{engagement.send_date}}</td>
                                    <td>
                                        {% if not engagement.is_send %}
                                        <a href='{% url "accountant_dashboard:send_financials" engagement.id %}'>
                                            <i class="fa fa-send h4 text-success"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}