{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="template-demo">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-custom">
                        <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a></li>
                        <li class="breadcrumb-item"><a href='{% url "accountant_dashboard:invoices" %}'>Factures</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><span>{{invoice.invoice_number}}</span></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="container-fluid w-100">
        <a href="#" id="generate-pdf-button" class="btn btn-primary float-end mt-4 ms-2"><i class="ti-printer me-1"></i>Print</a>
    </div>
    <div class="col-md-12 mt-2 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" id="releve-pdf">
                <div class="container-fluid">
                    <h3 class="text-right my-5">Facture&nbsp;&nbsp;# {{invoice.invoice_number}} </h3>
                    <hr>
                </div>
                <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 ps-0">
                        <p class="mt-5 mb-2 h4"><b>{{user.school.name}} </b></p>
                        <p>
                            {{user.school.tel}},<br>
                            {{user.school.email}},
                            {{user.school.address}},<br>
                            République du Congo
                        </p>
                    </div>
                    <div class="col-lg-3 pr-0">
                        <p class="mt-5 mb-2 text-right"><b>Facturé de:</b></p>
                        <p class="text-right">
                            {{invoice.student.fullname}},<br> 
                            {{invoice.student.address}},<br>
                            {{invoice.student.tel}}, <br>
                            {{invoice.student.email}}
                        </p>
                    </div>
                </div>
                <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 ps-0">
                        <p class="mb-0 mt-5">Date: {{invoice.created_at}} </p>
                    </div>
                </div>
                <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                    <div class="table-responsive w-100">
                        <table class="table">
                            <thead>
                                <tr class="bg-dark text-white">
                                    <th>#</th>
                                    <th>Article</th>
                                    <th class="text-right">Salle de classe</th>
                                    <th class="text-right">Montant</th>
                                    <th class="text-right">Période</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-right">
                                    <td class="text-left">1</td>
                                    <td class="text-left">{{invoice.item.name}}</td>
                                    <td>{{invoice.classroom.title}}</td>
                                    <td> {{invoice.amount}} XAF</td>
                                    <td> {{invoice.schooling_of}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid mt-3">
                    <h4 class="text-right mb-5">Total : {{invoice.amount}} XAF</h4>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('generate-pdf-button').addEventListener('click', function() {
        var element = document.getElementById('releve-pdf'); // Remplacez 'pdf-content' par l'ID ou la classe de l'élément contenant votre contenu HTML
        var options = {
            filename: 'facture_{{invoice.student.lastname}}_{{invoice.student.firstname}}.pdf', // Spécifiez ici le nom du fichier personnalisé
        };
    
        html2pdf().set(options).from(element).save();
    });
</script>
{% endblock content %}