{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item">
                <a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span>Factures</span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>
{% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %} {% endif %}
  
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
            <div>
                <h4 class="card-title card-title-dash">Factured'élèves</h4>
            </div>
            <div>
                <a href='{% url "accountant_dashboard:invoice_add" %}' class="btn btn-primary text-white mb-0 me-0">
                <i class="mdi mdi-note-plus"></i> Ajouter une facture</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th scope="col">N° Facture</th>
                                <th scope="col">Date de facture</th>
                                <th scope="col">Étudiant</th>
                                <th scope="col">Classe</th>
                                <th scope="col">Écolage de</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="elementList">
                            {% for invoice in invoices %}
                                <tr data-id='{{invoice.id}}'>
                                    <td><h6>{{ invoice.invoice_number }}</h6></td>
                                    <td><h6>{{ invoice.invoice_date }}</h6></td>
                                    <td><h6>{{ invoice.student.fullname }}</h6></td>
                                    <td><h6>{{ invoice.classroom.title }}</h6></td>
                                    <td><h6>{{ invoice.schooling_of }}</h6></td>
                                    <td><h6>{{ invoice.amount }} XAF</h6></td>
                                    <td><h6>
                                        {% if invoice.is_repayment %}
                                            <span class="badge rounded-pill bg-danger">Remboursé</span>
                                        {% else %}
                                            {% if invoice.invoice_status == 'Entièrement payé' %}
                                                <span class="badge rounded-pill bg-success">{{ invoice.invoice_status}}</span>
                                            {% elif  invoice.invoice_status == 'Non payé' %}
                                                <span class="badge rounded-pill bg-warning">{{ invoice.invoice_status}}</span>
                                            {% else %}
                                                <span class="badge rounded-pill bg-danger">{{ invoice.invoice_status}}</span>
                                            {% endif %}
                                        {% endif %}
                                    </h6></td>
                                    <td>
                                        {% if not invoice.is_repayment %}
                                        <a href='{% url "accountant_dashboard:invoice" invoice.id %}' class="p-2">
                                            <i class="fa fa-eye h4 text-primary"></i></a>
                                        <a href='{% url "accountant_dashboard:invoice_edit" invoice.id %}' class="p-2">
                                            <i class="fa fa-edit h4 text-dark"></i></a>
                                        <a href="#" onclick="delete_function({{invoice.id}})">
                                            <i class="fa fa-trash-o h4 text-danger"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}