{% extends '../base.html' %}
{% load static %}
{% block content %}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="template-demo">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-custom">
              <li class="breadcrumb-item">
                <a href='{% url "accountant_dashboard:index" %}'>Tableau de board</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <span>Remboursements</span>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div>
{% if messages %} {% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %} {% endif %}
  
<div class="card">
    <div class="card-body">
        <div class="d-sm-flex justify-content-between align-items-start">
            <div>
                <h4 class="card-title card-title-dash">Remboursements</h4>
            </div>
            <div>
                <a href='{% url "accountant_dashboard:add_repayment" %}' class="btn btn-primary text-white mb-0 me-0">
                <i class="mdi mdi-note-plus"></i> Ajouter un remboursement</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Etudiant</th>
                                <th scope="col">N° Facture</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Méthode de remboursement</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="elementList">
                            {% for repayment in repayments %}
                                <tr data-id="{{ repayment.id }}">
                                    <td><h6> {{ repayment.invoice.student.lastname |upper }} {{ repayment.invoice.student.firstname |capfirst}}</h6></td>
                                    <td><h6> {{ repayment.invoice.invoice_number }} </h6></td>
                                    <td><h6> {{ repayment.amount }} </h6></td>
                                    <td><h6><span class="badge rounded-pill bg-warning">{{ repayment.repayment_method }}</span></h6></td>
                                    <td>
                                        {% if repayment.status %}
                                            <h6><a class="badge rounded-pill bg-success">Oui</a></h6>
                                        {% else %}
                                            <h6><a class="badge rounded-pill bg-danger">Oui</a></h6>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <!--<a href='{% url "accountant_dashboard:edit_repayment" repayment.id %}' class="p-2">
                                            <i class="fa fa-edit h4 text-dark"></i></a>-->
                                        <a href="#" onclick="delete_function({{repayment.id}})">
                                            <i class="fa fa-trash-o h4 text-danger"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}