{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="template-demo">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-custom">
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:index" %}'>Tableau de board</a></li>
                            <li class="breadcrumb-item"><a href='{% url "manager_dashboard:ebooks" %}'>Cours électronique</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><span>Ajouter</span></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter un cours électronique</h4>
                <form class="cmxform" id="signupForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Titre</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Niveau</label>
                            <select name='level'  class="js-example-basic-single w-100">
                              {% for level in levels %}
                                <option value="{{level.id}}">{{level}}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Auteur</label>
                            <select name='author'  class="js-example-basic-single w-100">
                                {% for teacher in teachers %}
                                    <option value="{{teacher.id}}">{{teacher.fullname}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Photo de couverture</label>
                            {{ form.photo_cover }}
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="libelle">Fichier électronique</label>
                            {{ form.attachement }}
                        </div>
                        <a href='{% url "manager_dashboard:ebooks" %}' class="btn btn-danger">Retour</a>
                        <input class="btn btn-primary" type="submit" value="Enregister">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}