{% extends '../base.html' %}
{% load static %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="template-demo">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-custom">
                <li class="breadcrumb-item">
                  <a href='{% url "manager_dashboard:index" %}'>Tableau de board</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span>Ebooks</span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% if messages %} {% for message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
  {% endfor %} {% endif %}
  
  <div class="card">
    <div class="card-body">
      <div class="d-sm-flex justify-content-between align-items-start">
        <div>
          <h4 class="card-title card-title-dash">Liste des ebooks</h4>
        </div>
        <div>
          <a
            href='{% url "manager_dashboard:add_ebook" %}'
            class="btn btn-primary text-white mb-0 me-0"
            ><i class=" mdi mdi-plus-box "></i> Ajouter un ebook</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2" id="elementList">
    {% for ebook in ebooks %}
        <div class="col-md-4 grid-margin stretch-card" data-id="{{ ebook.id }}">
            <div class="card">
            <div class="card-body">
                <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                <img src="{{ebook.photo_cover.url}}" class="img-lg rounded" alt="{{ebook.title}}" />
                <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                    <h6 class="mb-0">{{ebook.title}}</h6>
                    <p class="text-muted mb-1">par {{ebook.author.fullname}} </p>
                    <p class="mb-0 text-success fw-bold">{{ebook.level}}</p>
                    <p class='mt-2'>
                        <a href="{{ebook.attachement.url}}" target='blank' class="">
                            <i class="fa fa-eye h4 text-primary"></i></a>
                        <a href="{% url 'manager_dashboard:edit_ebook' ebook.id %}" class="p-2">
                            <i class="fa fa-edit h4 text-dark"></i></a>
                        <a href="#" onclick="delete_function({{ebook.id}})">
                            <i class="fa fa-trash-o h4 text-danger"></i></a>
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
  </div>

{% endblock content %}
